.project
.cproject
.settings
*.o
*.so
*.dll
*.lib
*.swp
*.vscode

/build_dbg
/build_rel
/build
/build_release

/cmake-build-debug
/.idea


# QtCreator specific annoying files
CMakeLists.txt.user*

# MSVC specific files:
/.vs
/out 
.cache
/build-*
